{% extends 'layout.html' %}
{% block content %}

    <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <a href="#">
                  <img class="img-fluid rounded" src={{ url_for('static', filename='Pics/' + post.image_farm_file) }}>
                </a>
              </div>
              <div class="col-lg-6">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.content }}</p>

              </div>

                        <!-- Content Row -->
            {% for product in specific_products %}

                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                      <h3 class="card-header">{{ product.name }}</h3>

                      <ul class="list-group list-group-flush">

                        <li class="list-group-item">{{ product.descr }}</li>
                        <li class="list-group-item">{{ product.price }}<h2>€</h2>per week</li>
                    {% if current_user.role == 'user' %}
                          <li class="list-group-item">
                              <a href="{{ url_for('confirmorder', product_id=product.id, post_id=post.id) }}" class="btn btn-primary">Buy</a>
                            </li>
                    {% endif %}
                      </ul>
                    </div>
                </div>

            {% endfor %}



            </div>
          </div>
        </div>


{% endblock content %}
